/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.main-content {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.search-bar-container {
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 16px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #45a049;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="number"],
select,
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
    border-color: #4CAF50;
}

textarea {
    resize: vertical;
    height: 100px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


p {
    background-color: #e7f9e7;
    color: #2f7d2f;
    border: 1px solid #2f7d2f;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}


input[type="file"] {
    display: none; 
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff; 
    color: white; 
    border-radius: 5px; 
    text-align: center; 
    transition: background-color 0.3s; 
}

.custom-file-upload:hover {
    background-color: #0056b3; 
}

.custom-file-upload:active {
    background-color: #004494; 
}

.upload-label {
    display: inline-block;
    border: 2px dashed #007bff; 
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    transition: border-color 0.3s; 
}

.upload-label:hover {
    border-color: #0056b3; 
}
